

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3%;
    background-color: rgb(59, 226, 25);
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-container {
    display: flex;
    gap: 30%;
    padding-left: 10%;
}

.navbar-link {
    /*color: rgba(10, 137, 255, 0.911);*/
    color:white;
    text-decoration: none;
    font-size: 1.2em;
}

.navbar-link:hover {
    color: rgb(12, 158, 243);
}

.navbar-text {
    /*color: rgba(10, 137, 255, 0.911);*/
    color: black;
    font-size: 1.6em;
    font-weight: bold;
    z-index: 1;
    padding-right: 6%;
}

.navbar::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 100%;
    background: white;
    transform: skewX(-20deg);
    transform-origin: top right;
    z-index: 0;
    width: 20%;
}

.navbar-container, .navbar-text {
    position: relative;
    z-index: 1;
}


@media (max-width: 1024px) {
    .navbar-container {
      gap: 15%;
      padding-left: 5%;
    }
    
    .navbar-link {
      font-size: 1em;
    }
  
    .navbar-text {
      font-size: 1.4em;
      padding-right: 3%;
    }
  
    .navbar {
      padding: 2%;
    }
  
    .navbar::after {
      width: 15%;
    }
  }
  

  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 5%;
    }
  
    .navbar-container {
      flex-direction: column;
      gap: 10px;
      padding-left: 0;
    }
  
    .navbar-link {
      font-size: 1.1em;
      margin-bottom: 10px;
    }
  
    .navbar-text {
      font-size: 1.2em;
      padding-right: 0;
    }
  
    .navbar::after {
      width: 100%;
      transform: skewX(0);
    }
  }


